@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&family=Judson:wght@400;700&display=swap");
body {
  --bg-home-image-height: 400px;
  margin: 0;
}
body,
body button {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
body button:hover {
  cursor: pointer;
}
body h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-transform: uppercase;
}
body h1 span.text-with-bg {
  font-family: "Judson", "Georgia", "Times New Roman", Times, serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 3.5rem;
}
body h1 span.subheader {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  font-size: 1.55rem;
  font-weight: normal;
  line-height: 1.55rem;
}
body header {
  min-height: 380px;
  height: 100vh;
  width: 100vw;
  color: #eee;
}
body header .bullet {
  font-family: Arial;
  padding: 0 4px;
}
body header .text-with-bg {
  background-clip: text;
  background-image: url("../assets/gold.jpg");
  background-repeat: repeat;
  background-size: auto 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body header #home-image {
  min-height: 380px;
  height: 100%;
  width: 60vw;
  background-image: url("../assets/bowl.png");
  background-position: 100% center;
  background-size: auto 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 45vw 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 45vw 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
body header #home-image h1 {
  background-color: rgba(9, 33, 0, 0.75);
  display: none;
  padding: 15px 20px 20px;
}
body header #home-info {
  min-height: 380px;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #001e0f;
}
body header #home-info,
body header #home-info #not-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body header #home-info .wrapper {
  width: 40vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
body header #home-info #not-contact {
  width: 100%;
  align-items: flex-end;
  flex: 1;
  gap: 20px;
}
body header #home-info #not-contact .wrapper {
  gap: 20px;
  flex-direction: column;
}
body header #home-info #not-contact .wrapper a#book-now {
  width: 100px;
  background-image: url("../assets/gold.jpg");
  background-size: cover;
  border-radius: 10px;
  font-weight: bold;
  color: #2b1a12;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5rem;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
body header #home-info #not-contact .wrapper a#book-now:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: #733619;
}
body header #home-info #not-contact .wrapper nav {
  font-weight: 200;
}
body header #home-info #not-contact .wrapper nav a,
body header #home-info #not-contact .wrapper nav button {
  font-weight: bold;
  text-transform: uppercase;
}
body header #home-info #not-contact .wrapper nav a:hover,
body header #home-info #not-contact .wrapper nav button:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
body header #home-info #not-contact .wrapper nav a {
  display: inline-block;
}
body header #home-info #not-contact .wrapper nav button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  font-weight: bold;
}
body header #contact {
  width: 100%;
  background-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body header #contact .wrapper {
  justify-content: space-evenly;
}
body header #contact .wrapper a {
  text-decoration: none;
}
body header #contact .wrapper a img {
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin: 5px 3px 0;
}
body header #contact .wrapper a img:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
body header #contact .wrapper #spacer {
  height: 80px;
  width: 2px;
  background-image: url("../assets/gold.jpg");
  background-size: cover;
}
body main#services {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 15px;
}
body main#services #main-wrapper {
  max-width: 750px;
  margin: auto;
}
body main#services #main-wrapper #services-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body main#services #main-wrapper #services-wrapper .header-image {
  height: 2rem;
}
body main#services #main-wrapper h2 {
  display: inline;
}
body main#services #main-wrapper h2,
body main#services #main-wrapper h3 {
  font-family: "Judson", "Times New Roman", Times, serif;
}
body main#services #main-wrapper h2 {
  text-align: center;
}
body main#services #main-wrapper section {
  border-top: 1.5px solid #bfe4d2;
}
body main#services #main-wrapper section h3 {
  color: #166d41;
}
body main#services #main-wrapper section h3 span {
  color: #00a553;
  font-weight: normal;
}
body main#services #main-wrapper section p {
  font-size: 1rem;
}

@media only screen and (max-width: 720px) {
  body header {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  body header #home-image {
    height: var(--bg-home-image-height);
    min-height: var(--bg-home-image-height);
    width: 100%;
    background-position: center;
    background-size: cover;
    -webkit-clip-path: initial;
            clip-path: initial;
    flex: 1;
    position: relative;
  }
  body header #home-image h1 {
    display: flex;
  }
  body header #home-info {
    min-height: auto;
  }
  body header #home-info,
  body header #home-info #not-contact {
    flex: 0;
  }
  body header #home-info #not-contact .wrapper,
  body header #home-info #contact .wrapper {
    width: 100%;
    margin: auto;
  }
  body header #home-info #not-contact .wrapper h1 {
    display: none;
  }
}
@media only screen and (max-width: 850px), screen and (max-height: 400px) {
  body,
  body button {
    font-size: 1rem;
  }
  body header #home-image {
    background-size: cover;
  }
}
@media only screen and (max-height: 450px) {
  body h1 span.text-with-bg {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  body h1 span.subheader {
    font-size: 1.225rem;
    line-height: 1.225rem;
  }
  body header #home-info #not-contact .wrapper {
    gap: 12px;
  }
  body header #home-info #not-contact .wrapper a#book-now {
    flex-direction: row;
    gap: 5px;
  }
}/*# sourceMappingURL=home.css.map */